body {
    background: rgb(7,0,36);
background: linear-gradient(90deg, rgba(7,0,36,1) 0%, rgba(93,9,121,0.9444152661064426) 35%, rgba(255,0,0,1) 100%);
}

h1 {
    color: rgb(162, 0, 0);
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}